.container {
    position: relative;
  }

  .container img {
    width: 500px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 6px;
  }

  .container span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-shadow: rgb(41, 41, 41) 1px 0 8px;
  }

  .topText {
    top: 40px;
  }

  .bottomText {
    bottom: 60px;
  }

  #deleteBtn {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    background-color: #757575;
    color: white;
    display: block;
    margin: 0 auto;
  }

  #deleteBtn:hover {
    background-color: rgb(47, 46, 47);
    cursor: pointer;
  }
